In [1]:
import pandas as pd
import numpy as np
import sklearn as skl
from sklearn.cluster import KMeans

In [2]:
df = pd.read_csv("transformed_weights.csv")
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,-0.036948,-1.539553,-0.002873,0.096048,-0.005966,1.483581,0.053715,0.588397,-0.057952,0.110433,0.008588
1,-0.056765,0.186956,-0.002075,-0.032511,-0.081422,-1.338555,-0.014176,-0.632347,0.097677,-0.074786,0.011453
2,-0.057001,0.680765,-0.048339,-0.062672,0.043167,-0.090985,-0.019762,-0.366712,-0.031498,0.025538,0.002573
3,-0.052874,3.101260,-0.016633,-0.529174,-0.008358,1.015768,0.039767,0.926681,-0.017043,0.054034,0.001690
4,-0.066046,-1.527839,-0.021227,0.431604,0.049310,-1.762325,0.072918,-1.714220,-0.031217,-0.108248,0.004973

In [3]:
kmeans = KMeans(n_clusters=2)

In [4]:
kmeans.fit(df)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [7]:
for i, k in enumerate(kmeans.predict(df)):
    print(str(i) + ": " + str(k))

0: 0
1: 1
2: 1
3: 1
4: 0
5: 1
6: 1
7: 1
8: 0
9: 0
10: 0
11: 1
12: 0
13: 1
14: 0
15: 0
16: 1
17: 1
18: 0
19: 0
20: 0
21: 1
22: 1
23: 0
24: 0
25: 0
26: 1
27: 1
28: 1
29: 0
30: 0
31: 1
32: 1
33: 0
34: 1
35: 0
36: 0
37: 0
38: 0
39: 0
40: 0
41: 1
42: 1
43: 1
44: 1
45: 1
46: 0
47: 0
48: 1
49: 1